body{

    background: linear-gradient(90deg, #e66465, #9198e5);
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 1.2em;
    overflow-x: hidden;
    
}

.header-text{

    font-size: 2em;
    font-family: 'Ultra', serif;
    color:rgba(206, 46, 46, 0.658);
}


.bordered-table, .header-border, .card-border{
    border-width: 3px 3px 3px 3px !important;
    border-style: solid !important;
    border-color: black !important;
    box-shadow: 5px 5px purple !important;
}

